* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cal Sans", "roboto";
}

body {
  overflow-x: hidden;
}

#cabeçalho {
  background-image: url("./imagens/head.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 100%;
  padding: 1vw;
  color: white;
}

#LinhaCabeçalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#Nula {
  width: 13vw;
}

#titleCabeçalho {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13vw;
  height: 5vh;
}

#titleCabeçalho img {
  width: 100%;
}

#login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  height: 5vh;
  width: 13vw;
}

#login p {
  color: white;
}

#login button {
  padding: 0.6vw 1vw;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-weight: 600;
}

#login .butaoUp {
  background-color: white;
  color: #7b0005;
}

#meio {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
  text-align: center;
}

#meio p {
  max-width: 30vw;
  font-size: 2.5rem;
  font-weight: 500;
}

#meio a {
  color: white;
  font-family: "Calibri", sans-serif;
  text-decoration: underline;
  font-size: 1rem;
}

.input-localizacao {
  position: relative;
  width: 90%;
  max-width: 400px;
  display: flex;
  align-items: center;
}

.input-localizacao input {
  width: 100%;
  padding: 12px 45px 12px 40px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.icon {
  position: absolute;
  font-size: 18px;
  color: #555;
  pointer-events: none;
}

.inicio {
  left: 12px;
}

.fim {
  right: 10px;
  background-color: orangered;
  border-radius: 50%;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
}

#linha {
  margin-top: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

#linha img {
  width: 120px;
}

.boxLinha {
  width: 20vw;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: start;
  margin-bottom: 8vh;
}

.boxLinha h3 {
  margin-bottom: 1vh;
}

.boxLinha p {
  text-align: center;
  margin-bottom: 1vh;
}

.boxLinha a {
  color: red;
  text-decoration: none;
  font-size: 800;
}

#blocoImg1 {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  margin-bottom: -5vh;
}

#blocoImg1 h1 {
  width: 12vw;
  margin-bottom: 1vh;
}

#blocoImg1 img {
  width: 40vw;
  height: 60vh;
}

.boxImg {
  width: 40vw;
  padding: 2;
}

.boxImg button {
  border-radius: 1rem;
  width: 7vw;
  height: 4.5vh;
  background-color: red;
  color: white;
  border: none;
  font-family: "roboto";
  font-weight: 600;
}

#blocoImg2 {
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff0ed;
}

.boxImg2 {
  width: 40vw;
}

.boxImg2 h1,
p {
  margin-bottom: 2vh;
}

.boxImg2 button {
  border-radius: 1rem;
  width: 9vw;
  height: 4.5vh;
  background-color: red;
  color: white;
  border: none;
  font-family: "roboto";
  font-weight: 600;
}

#rodape {
  background-color: #555;
  color: white;
}

#linha1 {
  display: flex;
  justify-content: space-around;
  gap: 1vw;
  margin: 1vh 15vw;
}
.coluna {
  display: flex;
  flex-direction: column;
  width: 5vw;
  padding: 1rem;
}
.coluna h6{
  width: 7vw;
  height: 4vh;
  font-weight: 100;
  font-size: medium;
  margin-bottom: 1vh;
}

.coluna a {
  width: 7vw; 
  text-decoration: none;
  color: white;
  font-size: small;
  height: 4vh;
  font-weight: 100;
}
#linha2{
  display: flex;
  justify-content: space-around;
  margin: 1vh 15vw;
}
.coluna2pt1{
  display: flex;
  justify-content: space-around;
  width: 50vw;
  gap:3vw;
  padding: 1rem;
}
.coluna2{
  display: flex;
  flex-direction: column;
  width: 20vw;
}
.coluna2 a{
  text-decoration: none;
  color: white;
  font-size: small;
  height: 4vh;
  font-weight: 100;
}
.coluna2 h6{
  height: 4vh;
  font-weight: 100;
  font-size: medium;
  margin-bottom: 1vh;
}
.coluna2Img{
  display: flex;
  justify-content:start;
  align-items: center;
  flex-direction: column;
}
.coluna2Img img{
  width: 8vw;
}
